<div *ngIf="pipeline">
  <mat-toolbar>
    <span>{{pipeline.metadata.name}}@{{pipeline.metadata.generation}}</span>
  </mat-toolbar>
  <mat-grid-list cols="2" rowHeight="8:7">
    <mat-grid-tile>
      <mat-card class="tile-content">
        <mat-card-title>Spec</mat-card-title>
        <mat-card-content>
          <form (ngSubmit)="onSubmit()">
            <button mat-raised-button color="primary">Submit</button>
            <app-json-editor [options]="editorOptions" [(data)]="pipeline.spec"></app-json-editor>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="tile-content">
        <mat-card-title>Status</mat-card-title>
        <mat-card-content>
          <button mat-raised-button color="primary" (click)="getPipeline()">Refresh</button>
          <app-json-editor [options]="viewOptions" [data]="pipeline.status"></app-json-editor>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=2>
      <mat-card class="tile-content">
        <mat-card-title>CronJob</mat-card-title>
        <mat-card-content>
          <app-pipeline-cronjob [pipeline]="pipeline.metadata.name"></app-pipeline-cronjob>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
